<template>
  <ul class="messages" v-if="messages.length">
    <li :key="message.id" 
      @click="removeMessage(message.id)" 
      class="message" 
      v-for="message in messages">

      <div class="alert" :class="[`alert-${message.type}`]">
        {{message.text}}
      </div>
    </li>
  </ul>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import { setInterval } from 'timers';
import { State, Mutation } from 'vuex-class';

@Component
export default class Messages extends Vue {
  @State('messages') messages: Message[];
  @Mutation('removeMessage') removeMessage;
  @Mutation('cleanLastMessage') cleanLastMessage;

  mounted() {
    setInterval(this.cleanLastMessage, 8000);
  }
}
</script>

<style lang="less">
.messages {
  position: fixed;
  bottom: 10px;
  left: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 250px;
  width: 100%;
}

.alert {
  cursor: pointer;
}
</style>
