@import "bootstrap-less/bootstrap/index";

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 70px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px;
    text-align: center;
}

[v-cloak] {
    display: none;
}

.experiences {
    list-style: none;
    margin: 0;
    padding: 0;
}

.experience {
    margin: 0 0 10px;
    border-bottom: 1px dashed #e0e0e0;
    padding-bottom: 10px;

    &__title {
        margin: 0;
    }

    &__subject {
        margin: 0;
        color: #888;
    }
}

.clickable {
    cursor: pointer;
}
