extends layouts/default.pug

block content
  #account-edit(v-cloak)
    Messages

    form(action="/account" method="post" @submit.prevent="submitForm")
      .panel.panel-default
        .panel-heading
          h3.panel-title Update Account
        .panel-body
          .form-group
            label(for="name") Username
            .input-group
              .input-group-addon
                i.glyphicon.glyphicon-user
              input.form-control(disabled="disabled"
                name="name" 
                type="text"
                placeholder="Username")

          .form-group
            label(for="email") Email address
            .input-group
              .input-group-addon
                i.glyphicon.glyphicon-envelope
              input.form-control(name="email"
                type="email"
                placeholder="Email"
                v-model="account.email")

          .form-group
            label(for="firstName") First Name
            .input-group
              .input-group-addon
                i.glyphicon.glyphicon-user
              input.form-control(name="firstName"
                type="text"
                placeholder="First Name"
                v-model="account.firstName")

          .form-group
            label(for="lastName") Last Name
            .input-group
              .input-group-addon
                .glyphicon.glyphicon-user
              input.form-control(name="lastName"
                type="text"
                placeholder="Last Name"
                v-model="account.lastName")

          button.btn.btn-primary.pull-right(:disabled="submitted" type="submit") Update

    form(action="/account/password" method="post" @submit.prevent="submitPasswordForm")
      .panel.panel-default
        .panel-heading
          h3.panel-title Update Password
        .panel-body
          .form-group
            label(for="oldPassword") Old Password
            .input-group
              .input-group-addon
                i.glyphicon.glyphicon-asterisk
              input.form-control(name="oldPassword"
                type="password"
                placeholder="Old Password"
                v-model="oldPassword")

          .form-group
            label(for="newPassword") New Password
            .input-group
              .input-group-addon
                i.glyphicon.glyphicon-asterisk
              input.form-control(name="newPassword"
                type="password"
                placeholder="New Password"
                v-model="newPassword")

          button.btn.btn-primary.pull-right(:disabled="submitted" type="submit") Update

block footer
  script(src="/public/scripts/pages/account-edit.js")