extends layouts/default.pug

block header
  style.
    iframe {
      width: 100%;
      height: 1628px;
      position: relative;
      border: 1px solid #ddd;
      border-radius: 2px;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    }

block content
  iframe(src=`/preview/${document.name}`)