extends layouts/default.pug

block content
  .jumbotron
    h1 Hello, World!
    p.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, veniam! Laboriosam, tenetur voluptates vero optio officiis
      voluptatum laborum aliquam placeat harum sit esse obcaecati earum iste dicta ex nulla, numquam dolores quo assumenda
      distinctio? Perferendis doloremque sequi, tempore obcaecati facere odio, dolorum natus nobis laborum voluptas ratione
      minus consequatur in iure cupiditate. Laborum, rerum saepe explicabo debitis molestiae nisi tempora quidem fugiat
      corporis placeat magni expedita possimus eum eius amet cumque natus? Enim aliquam iste dignissimos, reprehenderit
      ab similique alias tempore dolore quos adipisci at magnam rerum aliquid nam maiores, molestiae eveniet repellat,
      ipsam exercitationem rem corporis. Rerum, tenetur sed.
    a.btn.btn-primary.btn-lg(href="/register" role="button") Easy Register