extends layouts/default.pug

block header
  style.
    #login-wrapper {
      max-width: 400px;
      margin: 0 auto;
    }

block content
  #login-wrapper.panel.panel-default
    .panel-body
      form(action="/account/login" method="post")
        .form-group
          label(for="username") Username
          .input-group
            .input-group-addon
                i.glyphicon.glyphicon-user
            input#username.form-control(name="username" type="text" placeholder="Username")

        .form-group
          label(for="password") Password
          .input-group
            .input-group-addon
              i.glyphicon.glyphicon-asterisk
            input#password.form-control(name="password" type="password" placeholder="Password")
        button.btn.btn-success.btn-block(type="submit") Login