doctype html
html(lang="en")
  head
    each style in view.styles
      link(rel="stylesheet" type="text/css" href=style.value)

  body
      != render(view)
      script(src="/public/scripts/libs/system.js")
      script(src="/public/scripts/system.config.js")
      script(src="/public/scripts/bootstrap.js")
      script
          | window.appConfig={env:'web',serviceEndpoint:'#{serviceEndpoint}'};
          | window.dip.bootstrap(!{json(view.getClientModel())}, !{json(user)}).then(function(item){window.dip.item=item;});