extends layouts/default.pug

block content
  #profile-edit(v-cloak)
    Messages

    form(action="/profile" method="post" @submit.prevent="submitForm")
      .panel.panel-default
        .panel-heading
          h3.panel-title General

        .panel-body
          .form-group
            .row
              label.col-sm-2.control-label Short Bio
              .col-sm-10
                textarea.form-control(:disabled="submitted" name="bio" rows="5" v-model="bio")

          button.btn.btn-primary.pull-right(:disabled="submitted" type="submit") Update

    .panel.panel-default
      .panel-heading
        h3.panel-title Experience
      .panel-body
        form(action="/profile/experience" method="post" @submit.prevent="addExperience" style="margin-bottom: 20px;")
          .row
            .col-md-12
              .form-group
                label(for="title") Title
                input.form-control(name="title" type="text" placeholder="Title" v-model="experience.title")

              .form-group
                label(for="subject") Subject
                input.form-control(name="subject" type="text" placeholder="Subject" v-model="experience.subject")

              .form-group
                label(for="fromDate") From Date
                input.form-control(name="fromDate" type="text" placeholder="From Date" v-model="experience.fromDate")

              .form-group
                label(for="toDate") To Date
                input.form-control(name="toDate" type="text" placeholder="To Date" v-model="experience.toDate")

              .form-group
                label(for="type") Experience Type
                select.form-control(name="type" v-model="experience.type")
                  option(value="") Select...
                  option(value="work") Work
                  option(value="education") Education

              button.btn.btn-primary.pull-right(type="submit") Add

        div(style="border-bottom: 4px solid #999; margin-bottom: 20px;")
        ul.experiences
          li(v-if="!experiences.length")
            p No experiences found, create one...
          li(v-for="exp in experiences")
            .experience
              .row
                .col-md-2
                  | {{exp.fromDate | formatDate('DD MMM')}} - {{exp.toDate | formatDate('DD MMM')}}
                .col-md-10
                    h4.experience__title(v-text="exp.title")
                    h5.experience__subject(v-text="exp.subject")
                    i.glyphicon.glyphicon-trash.pull-right.clickable(@click="removeExp(exp)")

block footer
  script(src="/public/scripts/pages/profile-edit.js")