doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= pageName
    link(rel="stylesheet" href="/public/styles/main.css")
    block header
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/") CV

        ul.nav.navbar-nav.navbar-right
          if user
            li.dropdown
              a.dropdown-toggle(href="#"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false")
                  = user.name
                  span.caret

              ul.dropdown-menu
                li: a(href="/account") Account
                li: a(href="/profile") Profile
                li.divider(role="separator")
                li: a(href="/account/logout") Logout
          else
            li
              a(href="/account/login") Login

    .container
      if title
        .page-header
          h1= title
          if subtitle
            small= subtitle
      block content

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="/public/scripts/libs/system.js")
    script(src="/public/scripts/system.config.js")

    if user 
      script.
        window.dip = window.dip || {}; 
        window.dip.user = !{JSON.stringify(user)};

    block footer
    footer Version 1.0.0