extends ../layouts/default.pug

block content
  #register-account.row
    Messages

    .col-md-4
      p.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nulla voluptate quam enim asperiores laborum sequi
        eius qui provident voluptates explicabo nihil officiis quibusdam, assumenda, laudantium corrupti consequuntur
        doloribus non suscipit ea debitis! Molestias ex, at aliquid quis veritatis suscipit distinctio nemo dolorum perspiciatis
        quod quas commodi eveniet qui quaerat corporis animi eaque adipisci repellendus dolores, dolor recusandae quisquam?
        Sit temporibus at ex a totam facere commodi libero deserunt recusandae tenetur perspiciatis amet esse quod sapiente
        porro dolore dolores animi ducimus, quis praesentium id similique inventore adipisci excepturi! Quam in et iure
        unde recusandae perferendis maiores nihil fugiat sapiente dolorem!</p>

    .col-md-offset-1.col-md-7
      form(action="/register" method="post" @submit.prevent="submitForm")
        .form-group
          label(for="name") Username
          input.form-control(name="name" type="text" placeholder="Username" v-model="account.name")

        .form-group
          label(for="email") Email address
          input.form-control(name="email" type="email" placeholder="Email" v-model="account.email")

        .form-group
          label(for="firstName") First Name
          input.form-control(name="firstName" type="text" placeholder="First Name" v-model="account.firstName")

        .form-group
          label(for="lastName") Last Name
          input.form-control(name="lastName" type="text" placeholder="Last Name" v-model="account.lastName")

        .form-group
          label(for="password") Password
          input.form-control(name="password" type="password" placeholder="Password" v-model="account.password")

        button.btn.btn-lg.btn-primary.pull-right(type="submit") Next

block footer
  script(src="/public/scripts/pages/register-account.js")