extends ../layouts/default.pug

block content
  #register-finish.row
    each document in documents
      .col-md-3
        .thumbnail
          img(src="https://placebear.com/240/200" alt="document thumbnail")
          .caption
            h3= document.name
            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
              | Nullam id dolor id nibh ultricies vehicula ut id elit.
            p
              a.btn.btn-block.btn-primary(href="#" @click.prevent=`selectTemplate('${document.id}')`) Use This

block footer
  script(src="/public/scripts/pages/register-finish.js")