extends ../layouts/default.pug

block content
  #register-profile.row
    Messages

    .col-md-4
      p.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nulla voluptate quam enim asperiores laborum sequi
        eius qui provident voluptates explicabo nihil officiis quibusdam, assumenda, laudantium corrupti consequuntur
        doloribus non suscipit ea debitis! Molestias ex, at aliquid quis veritatis suscipit distinctio nemo dolorum perspiciatis
        quod quas commodi eveniet qui quaerat corporis animi eaque adipisci repellendus dolores, dolor recusandae quisquam?
        Sit temporibus at ex a totam facere commodi libero deserunt recusandae tenetur perspiciatis amet esse quod sapiente
        porro dolore dolores animi ducimus, quis praesentium id similique inventore adipisci excepturi! Quam in et iure
        unde recusandae perferendis maiores nihil fugiat sapiente dolorem!

    .col-md-offset-1.col-md-7
      form(action="/register/profile" method="post" @submit.prevent="submitForm")
        .form-group
          label(for="bio") Short Bio
          textarea.form-control(name="bio"
            type="text"
            placeholder="Bio"
            rows="5"
            v-model="profile.bio")

        h3 Experiences

        .well
          .row
            .col-md-6
              .form-group
                label(for="title") Title
                input.form-control(name="title" type="text" placeholder="Title" v-model="experience.title")

            .col-md-6
              .form-group
                label(for="subject") Subject
                input.form-control(name="subject" type="text" placeholder="Subject" v-model="experience.subject")

          .row
            .col-md-6
              .form-group
                label(for="fromDate") From Date
                input.form-control(name="fromDate" type="text" placeholder="From Date" v-model="experience.fromDate")

            .col-md-6
              .form-group
                label(for="toDate") To Date
                input.form-control(name="toDate" type="text" placeholder="To Date" v-model="experience.toDate")

          .form-group
            label(for="type") Experience Type
            select.form-control(name="type" v-model="experience.type")
              option(value="") Select...
              option(value="work") Work
              option(value="education") Education

          button.btn.btn-default(@click.prevent="addExperience") Add

        ul(v-cloak)
          li(v-for="exp in profile.experiences" :key="exp.subject")
              | {{exp.title}} {{exp.subject}} {{exp.type}}

        button.btn.btn-lg.btn-primary.pull-right(type="submit") Next

block footer
  script(src="/public/scripts/pages/register-profile.js")